<div class="annonce">

  <div class="imageprofile">
    <img class="img" src="../../assets/sit.jpg" alt="">
  </div>
  <div class="row info" style="margin-top: 20px;">
    <div class="nom" style="text-align: center;margin-top: 80px; color: black; font-size: 20px;">
      <b>Profil Structure</b>
    </div>
    <div class=" col-md-12 row mb-5   header">
      <!-- <mat-card class="col-md-12 mat-elevation-z8 mb-3">
          <p class="header_content"><span>200</span> <span> structures</span></p>
      </mat-card> -->
      <button class="menu-button btn btn-outline-success col-md-2" routerLink="/ajoutercompte">
        <mat-icon style="color: black;">add</mat-icon>
        <span style="color: black;">Ajouter profil</span>
      </button>

      <button class="menu-button btn btn-outline-success col-md-2" routerLink="/ajoutercompte">
        <mat-icon style="color: black;">update</mat-icon>
        <span style="color: black;">Modifier compte</span>
      </button>

      <button class="menu-button btn btn-outline-success col-md-2" routerLink="/ajoutercompte">
        <mat-icon style="color: black;">update</mat-icon>
        <span style="color: black;">Modifier profil</span>
      </button>
    </div>

    <!-- <div class="edit mt-1" *ngIf="showupdateprofile">

      <ion-buttons class="ionModif ">
        <ion-button routerLink="/tabs/structure/structurehome/{{id}}/profile/modifierprofil">
          <ion-icon name="create-outline"></ion-icon>
          Modifier profil
        </ion-button>
      </ion-buttons>
      

      <ion-buttons class="ionModif">
        <ion-button routerLink="/tabs/structure/structurehome/{{id}}/profile/modifiercompte">
          <ion-icon name="create-outline"></ion-icon>
          Modifier compte
        </ion-button>

      </ion-buttons>
    <ion-button>
        Modifier profil
      </ion-button>

      <ion-button>  
        Modifier compte
      </ion-button> 
    </div> -->
    <div class="information col-md-12" style="color:black;margin-top: 40px;margin-bottom: 40px;">
      <div class="champ">
        <span class="champtitle">Nom </span> <br>
        <b class="champcontent"> </b>
      </div>

      <div class="champ">
        <span class="champtitle">Prenom </span> <br>
        <b class="champcontent"></b>
      </div>

      <div class="champ">
        <span class="champtitle">Pseudo </span> <br>
        <b class="champcontent"> </b>
      </div>

      <div class="champ">
        <span class="champtitle">Email</span> <br>
        <b class="champcontent"></b>
      </div>

      <!-- <div class="champ">
        <span class="champtitle">Slogan</span> <br>
        <b class="champcontent"> </b>
      </div>

      <div class="champ">
        <span class="champtitle">Statut</span> <br>
        <b class="champcontent"> </b>
      </div>

      <div class="champ1">
        <span class="champtitle">Description</span> <br>
        <p class="champcontent1"></p>
      </div> -->
    </div>
  </div>

</div>

<div class="annonce">

  <div class="imageprofile">
    <img class="img" src="../../assets/sit.jpg" alt="">
  </div>
  <div class="row info" style="margin-top: 20px;">
    <div class="nom" style="text-align: center;margin-top: 80px; color: black; font-size: 20px;">
      <b>Profil Structure</b>
    </div>
    <div class=" col-md-12 row mb-5   header">
      <!-- <mat-card class="col-md-12 mat-elevation-z8 mb-3">
          <p class="header_content"><span>200</span> <span> structures</span></p>
      </mat-card> -->
      <button class="menu-button btn btn-outline-success col-md-2" routerLink="/ajoutercompte">
        <mat-icon style="color: black;">add</mat-icon>
        <span style="color: black;">Ajouter profil</span>
      </button>
      <button class="menu-button btn btn-outline-success col-md-2" routerLink="/ajoutercompte">
        <mat-icon style="color: black;">update</mat-icon>
        <span style="color: black;">Modifier compte</span>
      </button>
      <button class="menu-button btn btn-outline-success col-md-2" routerLink="/ajoutercompte">
        <mat-icon style="color: black;">update</mat-icon>
        <span style="color: black;">Modifier profil</span>
      </button>
    </div>

    <!-- <div class="edit mt-1" *ngIf="showupdateprofile">

      <ion-buttons class="ionModif ">
        <ion-button routerLink="/tabs/structure/structurehome/{{id}}/profile/modifierprofil">
          <ion-icon name="create-outline"></ion-icon>
          Modifier profil
        </ion-button>
      </ion-buttons>
      

      <ion-buttons class="ionModif">
        <ion-button routerLink="/tabs/structure/structurehome/{{id}}/profile/modifiercompte">
          <ion-icon name="create-outline"></ion-icon>
          Modifier compte
        </ion-button>

      </ion-buttons>
    <ion-button>
        Modifier profil
      </ion-button>

      <ion-button>  
        Modifier compte
      </ion-button> 
    </div> -->
    <div class="information col-md-12" style="color:black;margin-top: 40px;margin-bottom: 40px;">
      <div class="champ">
        <span class="champtitle">Nom </span> <br>
        <b class="champcontent"> </b>
      </div>

      <div class="champ">
        <span class="champtitle">Activités </span> <br>
        <b class="champcontent"></b>
      </div>

      <div class="champ">
        <span class="champtitle">Email </span> <br>
        <b class="champcontent"> </b>
      </div>

      <div class="champ">
        <span class="champtitle">Numéro</span> <br>
        <b class="champcontent"></b>
      </div>

      <div class="champ">
        <span class="champtitle">Slogan</span> <br>
        <b class="champcontent"> </b>
      </div>

      <div class="champ">
        <span class="champtitle">Statut</span> <br>
        <b class="champcontent"> </b>
      </div>

      <div class="champ1">
        <span class="champtitle">Description</span> <br>
        <p class="champcontent1"></p>
      </div>
    </div>
  </div>

</div>