
//Section accueil de la structure conserner

.divimage{
    
}
.imagestructure{
    border-radius: 5px;
    
    width: 100%;
    border: 3px solid #6A9A8B;
   
}
.subtitle{
    font-size: 20px; /* 40px/16=2.5em */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.subtitleContent{
    position: relative;
    /* text-align: center; */
    // top: 18px;
    font-size: 18px;    color: black;
}

.subtitleContent1{
    display: flex;
    position: relative;
    /* text-align: center; */
    // top: 18px;
    left: 0px;
    font-size: 18px;
    color: black;
}
.maintext{
display: contents;
justify-content: center;
text-align: justify;
font-family: 'Poppins', sans-serif;
letter-spacing: 0.5px;
font-size:18px;
color: black;
}

.maintext1{
    // display: flex;
    // justify-content: space-between;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
.container{
    display: flex;
    justify-content: space-between;
}