<mat-card class="container">
    <div class="divimage container" >
        <img 
        class="imagestructure" 
        alt="rhino standing near grass"
        src="../../assets/sit.jpg" >
    </div>
    
    <div class="maintext1 container mt-3 mb-3">
      <h5 style="color: black;"></h5>
      <!-- <button class="voirdetails1" fill="outline" >
        
      </button> -->
      <!-- <button class="voirdetails" fill="outline" ><span>Voir profil</span> -->
        <button type="button" class="btn btn-outline-success" routerLink="/sidebar/profildetails">Voir profil</button>

      <!-- </button> -->
    </div>
    <div class="container">
    <p class="maintext mb-3" style="color: black;">
      The rhinoceros gets its name from one of its most notable features: its horns.
      The word rhinoceros come from the Greek words rhino meaning “nose” and ceros meaning “horn.”
      The number of horns that a rhino has varies on the species.
      The two African species (the black rhino and the white rhino) and the Sumatran rhino have two horns,
    </p>

      <div class="subtitle1 mt-3">
        <h2 class="subtitle" style="color: black;">
          Activités:
        </h2>
        <p class="subtitleContent" style="color: black;">
          
        </p>
      </div>
      <div class="subtitle2">
        <h2 class="subtitle" style="color: black;">
          Slogan:
        </h2>
        <p class="subtitleContent1" style="color: black;">
         
        </p>
      </div>

      <div class="location" style="color: black;">
      
      </div>
    </div>
  </mat-card>