<mat-card class="container">
    <div>
      <div class="divimage container">
        <img class="imagestructure" alt="rhino standing near grass" src="{{picture}}{{avisoffres.image}}">
      </div>
      <div class="maintext1 container mt-3 mb-3">
        <p style="font-size: 22px;">{{titre}}</p>
        <!-- <button type="button" class="btn btn-outline-success" routerLink="/sidebar/profildetails">Voir profil</button> -->
      </div>
    </div>
    <div class="container">
      <div class="subtitle2">
        <h2 class="subtitle" style="color: black;">
          Description:
        </h2>
        <p class="maintext mb-1" style="color: black;">
         {{description}}
        </p>
        <h2 class="subtitle" style="color: black;">
          Date du poste:
        </h2>
        <p class="subtitleContent1 mb-1" style="color: black;">
        {{date | date:"medium"}}
        </p>
        <h2 class="subtitle" style="color: black;">
          Objet:
        </h2>
        <p class="subtitleContent mb-1" style="color: black;" >
        {{objet}}
        </p>
      </div>
      <div class="location" style="color: black;">
      </div>
    </div>
  </mat-card>