<div class="annonce">

    <div class="imageprofile">
        <img class="img" src="{{picture}}{{image}}" alt="">
    </div>
    <div class="row info" style="margin-top: 20px;">
        <div class="nom" style="text-align: center;margin-top: 65px; color: black; font-size: 20px;">
            <b>Profil Structure</b>
        </div>

        <!-- <div class="edit mt-1" *ngIf="showupdateprofile">

      <ion-buttons class="ionModif ">
        <ion-button routerLink="/tabs/structure/structurehome/{{id}}/profile/modifierprofil">
          <ion-icon name="create-outline"></ion-icon>
          Modifier profil
        </ion-button>
      </ion-buttons>
      

      <ion-buttons class="ionModif">
        <ion-button routerLink="/tabs/structure/structurehome/{{id}}/profile/modifiercompte">
          <ion-icon name="create-outline"></ion-icon>
          Modifier compte
        </ion-button>

      </ion-buttons>
    <ion-button>
        Modifier profil
      </ion-button>

      <ion-button>  
        Modifier compte
      </ion-button> 
    </div> -->
        <div class="information " style="color:black;margin-top: 40px;margin-bottom: 40px;">
            <div class="champ">
                <span class="champtitle">Nom </span> <br>
                <span class="champcontent">{{nom}}</span>
            </div>

            <div class="champ">
                <span class="champtitle">Activités </span> <br>
                <span class="champcontent">{{activite}}</span>
            </div>

            <div class="champ">
                <span class="champtitle">Email </span> <br>
                <span class="champcontent">{{email}}</span>
            </div>

            <div class="champ">
                <span class="champtitle">Numéro</span> <br>
                <span class="champcontent">{{numero}}</span>
            </div>

            <div class="champ">
                <span class="champtitle">Slogan</span> <br>
                <span class="champcontent">{{slogan}}</span>
            </div>

            <div class="champ">
                <span class="champtitle">Statut</span> <br>
                <span class="champcontent">{{status}}</span>
            </div>

            <div class="champ1">
                <span class="champtitle" style="font-weight: bold;">Description</span> <br>
                <p class="champcontent1">{{description}}</p>
            </div>
        </div>
    </div>

</div>