<mat-card class="border container  mat-elevation-z8 mt-5">

    <div class="content">
        <div class="row mb-3 header container mt-2">
            <div class=" col-md-12 row">
                <mat-card class="col-md-12 mat-elevation-z8 mb-3">
                    <p class="header_content"><span class="me-1">{{taille}}</span><span class="me-1">-</span> avis
                        offres
                    </p>
                </mat-card>

                <div class="flexdiv">
                    <button class="menu-button btn btn-outline-success col-md-2" routerLink="/sidebar/ajouteravisoffre">
                        <mat-icon style="color: black;">add</mat-icon>
                        <span style="color: black;">Ajouter avis offre</span>
                    </button>
                </div>

            </div>

        </div>
        <div class="col-md-12 container  mx-auto table-responsive">
            <table class=" mt-5">
                <thead>
                    <tr>

                        <th class="gauche" scope="col">Titre</th>
                        <th scope="col">Cible</th>
                        <th scope="col">Type avis offre</th>
                        <th scope="col">Date</th>
                        <th class="droite" scope="col">Actions</th>


                    </tr>


                </thead>

                <tbody>

                    <tr *ngFor="let avisoffre of avisoffres
                    | paginate : { itemsPerPage: 5, currentPage: pagination }">
                        <td>{{avisoffre.titre}}</td>
                        <td> {{avisoffre.cible}}</td>
                        <td> {{avisoffre.avistype}}</td>
                        <td> {{avisoffre.date | date:"medium"}}</td>

                        <td style="padding-left: 35px;">
                            <!-- <i class='bx bx-edit bx-tada icon' ></i> -->
                            <mat-icon class="delete  bx-tada icon" (click)="delete(avisoffre.idavisoffre)">delete
                            </mat-icon>
                            <mat-icon class="visibility bx-tada icon"
                                [routerLink]="['/sidebar/avisoffredetails', avisoffre.idavisoffre]">
                                visibility
                            </mat-icon>
                            <mat-icon class="visibility bx-tada icon"
                                [routerLink]="['/sidebar/modifieravisoffre', avisoffre.idavisoffre]">
                                edit
                            </mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pag" style="font-size: 18px; color: black;">
                <pagination-controls (pageChange)="pagination = $event" nextLabel="Suivants" previousLabel="Précedents"
                    [responsive]="responsive">
                </pagination-controls>
            </div>
        </div>
    </div>
</mat-card>