    <mat-card class="border container  mat-elevation-z8 mt-5">
   
        <div class="content">
            <div class="row mb-3 header container mt-2">
                <div class=" col-md-12 row">
                    <mat-card class="col-md-12 mat-elevation-z8 mb-3">
                        <p class="header_content"><span>200</span> <span> structures</span></p>
                    </mat-card>
                    <button class="menu-button btn btn-outline-success col-md-2" routerLink="/ajoutercompte">
                        <mat-icon style="color: black;">add</mat-icon>
                        <span style="color: black;" routerLink="/sidebar/ajouterstrcuture">Ajouter structure</span>
                    </button>
                </div>

            </div>
            <div class="col-md-12 container  mx-auto table-responsive">
                <table class=" mt-5">
                    <thead>
                        <tr>
                            <th class="gauche" scope="col">Alias</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <!-- <th scope="col">Statut</th> -->
                            <th class="droite" scope="col">Actions</th>
                        </tr>


                    </thead>

                    <tbody>

                        <tr>
                            <td>hththththththththththththththththththth</td>
                            <td> thththththththththththththththththththththt</td>
                            <td> thththththththththththththththththththththt</td>
                            <!-- <td>thththththththththththththththththththththt</td> -->
                            <td>
                                <!-- <i class='bx bx-edit bx-tada icon' ></i> -->
                                <mat-icon class="delete  bx-tada icon">delete</mat-icon>
                                <mat-icon class="visibility bx-tada icon" routerLink="/sidebar/structuredetails">
                                    visibility
                                </mat-icon>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </mat-card>
