<mat-card class="container">
    <div>
      <div class="divimage container">
        <img class="imagestructure" alt="rhino standing near grass" src="../../assets/sit.jpg">
      </div>
      <div class="maintext1 container mt-3 mb-3" >
        <p style="font-size: 22px;">{{structures.alias}}</p>
        <button type="button" class="btn btn-outline-success" [routerLink]="['/sidebar/profildetails', structures.iduser]" *ngIf="!showProfi">Voir profil</button>
      </div>
    </div>
    <div class="container">
      <div class="subtitle2">
        <h2 class="subtitle" style="color: black;">
          Description:
        </h2>
        <p class="maintext mb-3" style="color: black;">
          {{description}}
        </p>
        <h2 class="subtitle" style="color: black;">
          Slogan:
        </h2>
        <p class="subtitleContent1" style="color: black;">
          {{slogan}}
        </p>
        <h2 class="subtitle" style="color: black;">
          Activités:
        </h2>
        <p class="subtitleContent mb-3" style="color: black;" *ngFor="let activite of structures.activites">
          {{activite.nom}}
        </p>
      </div>
      <div class="location" style="color: black;">
      </div>
    </div>
  </mat-card>