<mat-card class="container">
    <div>
        <div class="divimage container">
            <img class="imagestructure" alt="rhino standing near grass" src="{{picture}}{{image}}">
        </div>
        <div class="maintext1 container mt-3 mb-3">
            <p style="font-size: 22px;">

            </p>
            <!-- <button type="button" class="btn btn-outline-success" [routerLink]="['/sidebar/profildetails', structures.iduser]">Voir profil</button> -->
        </div>
    </div>
    <div class="container">
        <div class="subtitle2">
            <span class="subtitle" style="color: black;">
                Nom:
            </span>
            <span class="subtitleContent mb-3" style="color: black;">
                {{nom}}
            </span>

            <br>
            <br>

            <span class="subtitle" style="color: black;">
                Prenom:
            </span>
            <span class="subtitleContent mb-3" style="color: black;">
                {{prenom}}
            </span>

            <br>
            <br>

            <span class="subtitle" style="color: black;">
                Genre:
            </span>
            <span class="subtitleContent mb-3" style="color: black;">
                {{genre}}
            </span>

            <br>
            <br>

            <span class="subtitle" style="color: black;">
                Numero:
            </span>
            <span class="subtitleContent mb-3" style="color: black;">
                {{numero}}
            </span>

            <br>
            <br>

            <span class="subtitle" style="color: black;">
                Email:
            </span>
            <span class="subtitleContent mb-3" style="color: black;">
                {{email}}
            </span>

            <br>
            <br>


            <span class="subtitle" style="color: black;">
                Situation:
            </span>
            <span class="subtitleContent mb-3" style="color: black;">
                {{situation}}
            </span>

            <br>
            <br>

            <span class="subtitle" style="color: black;">
                Etat:
            </span>
            <span class="subtitleContent mb-3" style="color: black;">
                {{etats}}
            </span>


        </div>
        <div class="location" style="color: black;">
        </div>
    </div>
</mat-card>